<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onlayn Lugat</title>
    <link rel="stylesheet" type="text/css" href="{% static '/semantic-ui/semantic.min.css' %}">
</head>
<body>
    <div class="ui header segment">
        <div class="ui container">
            <h1 class="ui header">Onlayn Lug`at</h1>
            <div class="ui divider"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, corporis?</p>
        </div>
    </div>
    <div class="ui container">
        <div class="ui placeholder segment">
            <div class="ui icon header">
                Inglizcha-O`zbekcha,O`zbekcha Inglizcha
            </div>
            <div class="inline" style="width: 90%;">
            <div class="ui massive form search">
                <div class="ui icon input" style="width: 100%;">
                    <input class="prompt" type="text" placeholder="Qidirish">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
        </div> 
    </div>
    <div class="ui piled segment">
        <h4 class="ui header">Natija!</h4>
        <table class="ui celled large olive table">
            <thead>
                <tr>
                    <th> <i class="united states flag"></i> Inglizcha</th>
                    <th> <i class="uzbekistan flag"></i> O`zbekcha</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Programmer</td>
                    <td>Dasturchi</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>